.pagination {
  width: 100%;
  padding: 40px;
}

.wrapper {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  'prev next';
  grid-template-columns: repeat(2, 1fr);
}

.link {
  font: 18px 'Poppins', sans-serif;
  color: #A09678;
  &:link {
    color: #A09678;
  }
  &:visited {
    color: #A09678;
  }
  &:active {
    color: #A09678;
  }
  &:hover {
    color: #837753;
  }
}

.prevPage {
  grid-area: prev;
  justify-self: start;
}

.nextPage {
  grid-area: next;
  justify-self: end;
}
