.authorList {
  width: 100%;
  padding: 20px 40px;
}

.wrapper {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  row-gap: 20px;
  ul {
    display: grid;
    row-gap: 20px;
  }
}
