.pagination {
  width: 100%;
  padding: 20px 40px 40px;
}

.wrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'prev cur next';
  grid-template-columns: repeat(3, 1fr);
  span {
    font: 18px 'Poppins', sans-serif;
    color: #A09678;
  }
  a {
    font: 18px 'Poppins', sans-serif;
    color: #A09678;
    text-align: center;
    &:hover {
      color: #B3AB94;
    }
  }
}

.prevPage {
  grid-area: prev;
  justify-self: start;
}

.curPage {
  grid-area: cur;
  justify-self: center;
}

.nextPage {
  grid-area: next;
  justify-self: end;
}
