.postItem {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 8px 8px 8px -4px #8377537F;
  cursor: pointer;
  position: relative;
  &:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    opacity: 0.2;
  }
}

.item {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 20px;
  .thumbnail {
    img {
      width: 360px;
      border-radius: 8px;
    }
  }
}

.card {
  display: grid;
  .thumbnail {
    display: none;
  }
}



.content {
  time {
    margin-bottom: 2px;
    display: block;
    font: 14px 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #707070;
  }
  h2 {
    margin-bottom: 8px;
    font: 24px 'DM Serif Text', serif;
    color: #5076B8;
  }
  p {
    margin-bottom: 2px;
    font: 16px 'Poppins', sans-serif;
    color: #A09678;
  }
}

@media (max-width: 768px) {
  .item {
    display: grid;
    grid-template-columns: 1fr;
    .thumbnail {
      img {
        width: 100%;
      }
    }
  }
}
