.postItem {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 8px 8px 8px -4px #8377537F;
  cursor: pointer;
  display: grid;
  grid-template-columns: 360px 1fr;
  column-gap: 20px;
}

.thumbnail {
  img {
    width: 360px;
    border-radius: 8px;
  }
}

.content {
  display: grid;
  justify-content: start;
  align-content: start;
  row-gap: 4px;
  time {
    font: 14px 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #707070;
  }
  h2 {
    font: 24px 'DM Serif Text', serif;
    color: #5076B8;
  }
  p {
    font: 16px 'Poppins', sans-serif;
    color: #A09678;
  }
}
