.authorItem {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 8px 8px 8px -4px #8377537F;
  cursor: pointer;
  display: grid;
  grid-template-columns: 128px 1fr;
  column-gap: 20px;
}

.picture {
  img {
    width: 128px;
    border-radius: 8px;
  }
}

.info {
  h2 {
    margin-bottom: 4px;
    font: bold 20px 'Poppins', sans-serif;
    color: #5076B8;
  }
  span {
    margin-bottom: 2px;
    font: 14px 'Poppins', sans-serif;
    color: #A09678;
  }
}
