.authorItem {
  display: grid;
  grid-template-columns: 128px 1fr;
  gap: 20px;
}

.picture {
  img {
    width: 128px;
    height: 128px;
    border-radius: 8px;
  }
}

.info {
  display: grid;
  justify-content: start;
  align-content: start;
  gap: 4px;
  h2 {
    font: bold 18px 'Poppins', sans-serif;
    color: #5076B8;
  }
  span {
    font: 14px 'Poppins', sans-serif;
    color: #A09678;
  }
  a {
    button {
      padding: 8px 16px;
      border: none;
      border-radius: 8px;
      background: #837753;
      font: bold 14px 'Poppins', sans-serif;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}
