.iconButton {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 8px;
  button {
    border: none;
    background: none;
    cursor: pointer;
    svg {
      width: 64px;
      path {
        fill: #FFFFFF;
      }
    }
    span {
      display: block;
      font: 20px 'Poppins', sans-serif;
      color: #FFFFFF;
    }
  }
}

@media (max-width: 768px) {
  .iconButton {
    svg {
      width: 48px;
    }
    button {
      span {
        font-size: 16px;
      }
    }
  }
}
