.postList {
  width: 100%;
  padding: 40px;
}

.wrapper {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  row-gap: 20px;
  h1 {
    font: 40px 'DM Serif Text', serif;
    color: #5076B8;
  }
  ul {
    display: grid;
    row-gap: 20px;
  }
}
